main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0 180px;
    position: relative;
}

#c1{
    top: 35%;
}

#c2{
    top: 100%;
}

#c3{
    top: 145%;
}

#c4{
    top: 190%;
}

#c5{
    top: 235%;
    margin-bottom: 200px;
}
#c6{
    top: 280%;
}

#inizio{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 90, 12, 0.473);
    text-align: center;
}

#inizio h1, h3{
    margin: 20px;
    position: relative;
    top:60px;
}

#inizio button{
    position: relative;
    top: 90px;
    padding: 20px 0;
    width: 400px;
    font-size: x-large;
}

#spazio{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -1600px;
    left: 0;
}
